@charset "UTF-8";

*, 
*::before, 
*::after{
	box-sizing: inherit;
}
html{
	box-sizing: border-box;
	appearance: none;
}
body{
	margin: 0;
	overscroll-behavior: none;
}
	body, 
	.goodnight, 
	.goodnight div, 
	.alice_inner [data-opinions]{
		scrollbar-width: none;
	}
		body::-webkit-scrollbar, 
		.goodnight::-webkit-scrollbar, 
		.goodnight div::-webkit-scrollbar, 
		.alice_inner [data-opinions]::-webkit-scrollbar{
			display: none;
			width: 0;
			background: transparent;
		}

.goodnight{
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	width: 100%;
	height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
	overflow-y: clip;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
	background-image: url(//i.hearty.app/HyCw2lg.png);
	background-repeat: repeat;
	background-position: center;
}

.goodnight > div[data-block]{
	flex: 1 0 100%;
	height: 100%;
	white-space: nowrap;
	scroll-snap-align: start;
	overflow-y: auto;
}
.goodnight [data-fbox]{
	display: flex;
	align-items: center;
	justify-content: center;
}
.goodnight [data-flex1]{
	flex: 1;
}


.alice_inner{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}
.alice_inner [data-quote]{
	flex: 3;
	text-align: center;
	user-select: none;
}
	.alice_inner > [data-flex1]{
		margin: auto;
	}
	.alice_inner [data-quote] img{
		width: auto;
		height: auto;
		max-width: 92%;
		max-height: 90vh;
		cursor: pointer;
		opacity: 0;
	}
	.alice_inner [data-quote] p{
		display: none;
	}

.alice_inner [data-opinions]{
	display: flex;
	flex: 2;
	align-items: center;

	/* Scrolling */
	position: relative;
	overflow-y: scroll;
	height: 98vh;
	max-height: 100%;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.alice_inner [data-opinions] ul{
	list-style: none;
	margin: auto .3em;
	padding: 0 1em 0 1em;
	border: 1px dashed #555;
	border-radius: .75em;
	box-shadow: rgba(0,0,0,.1) 1px 1px 1em 1px;
	background: rgba(255,255,255,.5);
	background: linear-gradient(to bottom,rgba(255,255,255,.5),rgba(255,255,255,1));
	word-break: break-word;
	word-wrap: break-word;
}
.alice_inner [data-opinions] ul[title]::before{
	display: block;
	position: sticky;
	float: left;
	top: .2em;
	top: env(safe-area-inset-top, 0);
	content: attr(title);
	width: calc(100% - 5em);
	min-width: 242px;
	margin: 2.4em auto 1em auto;
	padding: .2em .6em;
	text-align: left;
	background: #f49292;
	color: #fff;
	letter-spacing: 1px;
	line-height: 1.6;
	font-size: small;
	border: 2px solid #fff;
	border-radius: inherit;
	white-space: pre-line;
	z-index: 1;
}
.alice_inner [data-opinions] ul .btn_close{
	position: sticky;
	display: inline-block;
	top: 0;
	float: right;
	margin: .2em 0;
	font-size: 2em;
	color: #999;
	cursor: pointer;
}
	.alice_inner [data-opinions] ul .btn_close::before{
		content: "\f057";
		background: #fff;
		border-radius: 50%;
	}
	.alice_inner [data-opinions] ul .btn_close:hover::before{
		font-weight: 900;
	}

.alice_inner [data-opinions] .opinions{
	display: flex;
	align-items: flex-start;
	flex-flow: row nowrap;
}
	.alice_inner [data-opinions] .opinions{
		clear: both;
	}
.alice_inner [data-opinions] .opinions div{
	display: inline-block;
}
.opinions .avatar{
	position: relative;
	width: 2.5em;
	height: 2.5em;
	margin: .6em 0;
	border-radius: 50%;
	opacity: .9;
	cursor: pointer;
	background-size: cover;
}
	.avatar[style$='#1");']{
		transform: rotate(90deg);
	}
	.avatar[style$='#2");']{
		transform: rotate(180deg);
	}
	.avatar[style$='#3");']{
		transform: rotate(270deg);
	}

	.opinions .avatar[data-vip="1"]::before{
		position: absolute;
		content: "\f005";
		font-family: "Font Awesome 5 Pro";
		font-weight: 900;
		right: 0;
		bottom: 0;
		font-size: small;
		color: gold;
		text-shadow: -1px 0 #888, 0 1px #888, 1px 0 #888, 0 -1px #888;
	}
		.opinions .avatar[data-vip="1"][style$='#1");']::before{
			top: 0;
		}
		.opinions .avatar[data-vip="1"][style$='#2");']::before{
			top: 0;
			left: 0;
		}
		.opinions .avatar[data-vip="1"][style$='#3");']::before{
			left: 0;
		}
		.opinions .avatar:hover{
			opacity: 1;
			box-shadow: rgba(0,0,0,.1) 1px 1px 1em 1px;
		}

	.alice_inner .comment{
		position: sticky;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		bottom: 0;
		padding: 1em 0;
		border-top: 1px dashed #ccc;
		background: rgba(255,255,255,.8);
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
	}
		.alice_inner .comment.android_keyboard_fix{
			position: fixed;
			top: 40vh;
			bottom: unset;
		}

	/* 登入以留言 */
	.alice_inner .comment:empty{
		flex-flow: row nowrap;
	}
		.alice_inner .comment:empty::before{
			font-family: "Font Awesome 5 Pro";
			content: "\f52b";
			margin-right: .4em;
		}
		.alice_inner .comment[title]:empty::after{
			content: attr(title);
			flex: 1;
			text-align: center;
			color: #666;
			letter-spacing: 2px;
			cursor: pointer;
		}


	/* 留言框+鈕 */
		.alice_inner .comment div{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			width: 100%;
		}
		.alice_inner .comment textarea{
			flex: 1;
			min-height: 50px; /* 防止 autogrow 誤判，導致輸入框過小 */
			max-height: 50vh;
			padding: .5em 1em;
			border: 1px solid #dddfe2;
			border-radius: 2em;
			color: #555;
			background: #f2f3f5;
			box-shadow: inset 0 1px 3px #ddd;
			line-height: 2;
			letter-spacing: 1px;
			caret-color: #bc8f8f;
			outline: none;
			resize: none;
		}
			.alice_inner .comment textarea:focus{
				box-shadow: 1px 1px 6px 2px rgba(187,120,94,.5);
			}
			.alice_inner .comment.invalid textarea{
				border: 1px solid #d78b7b;
			}

		.alice_inner .comment button{
			appearance: none;
			margin: 0 .8em;
			padding: .8em;
			background: #d78b7b;
			color: #fff;
			border: 1px solid #fff;
			border-radius: .6em;
			cursor: pointer;
			outline: none;
			transition: all .2s ease-in;
		}
			.alice_inner .comment button:hover{
				filter: brightness(1.1);
			}


	/* 超過字數上限 */
	.alice_inner .comment .char_max{
		display: none;
	}
	.alice_inner .comment.invalid .char_max{
		display: flex;
		font-size: x-small;
		color: #d78b7b;
		margin-bottom: .8em;
	}
		.alice_inner .comment .char_max::before{
			font-family: "Font Awesome 5 Pro";
			content: "\f05a";
			margin-right: .4em;
		}
		.alice_inner .comment .char_max[title]::after{
			content: attr(title);
			letter-spacing: 1px;
		}


.alice_inner [data-opinions] .opinions .opinion{
	max-width: calc(100% - 5em);
	margin: .4em;
	padding: .6em .8em;
	color: #222;
	background: #eaeaea;
	border-radius: .75em;
	box-shadow: inset 0 0 3px 1px #fff;
	text-align: justify;
		text-justify: inter-character;
		line-break: loose;
	line-height: 1.5;
	letter-spacing: 1px;
	white-space: pre-line;
}
.alice_inner [data-opinions] .opinions .opinion[data-user]::before{
	content: attr(data-user) ": ";
	font-size: small;
	color: #d17a67;
}
.alice_inner [data-opinions] [data-comment_id]::before{
	content: "\f142";
	margin: 0 .7em;
	color: #888;
	cursor: pointer;
}
	.alice .tabs{
		margin: 2em auto 0 auto;
	}
	.alice .tabs a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: .4em .5em;
		width: 2.6em;
		height: 2.6em;
		color: #222;
		border: 1px solid #222;
		border-radius: 50%;
		cursor: pointer;
		transition: all .2s ease-in;
		outline: 0;
	}
	.alice .tabs a:hover, 
	.directory .nav_btn:hover{
		color: #fff;
		box-shadow: rgba(0,0,0,.1) 1px 1px 1em 1px;
		background: rgba(0,0,0,.7);
	}
	.alice .tabs a::before{
		margin-right: 0;
	}

.alice_inner [data-opinions] ul .btn_close::before, 
.alice_inner [data-opinions] [data-comment_id]::before, 
.directory .nav_btn::before, 
.goodnight li[data-gender]::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
}

.goodnight .profile{
	position: fixed;
	display: none;
	content-visibility: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.5);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	z-index: 1;
}
.goodnight .profile > div{
	display: flex;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: inherit;
}
.goodnight .profile ul{
	display: block;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.goodnight .profile ul:first-child{
	min-width: 25%;
	max-width: 80%;
	padding: .8em 2em;
	border: 1px solid #ccc;
	border-radius: .7em;
	background: rgba(255,255,255,.9);
	box-shadow: rgba(0,0,0,.1) 1px 1px 1em 1px;
}
	.goodnight .profile li{
		margin: 1em auto;
		letter-spacing: 2px;
		text-overflow: ellipsis;
		overflow: hidden;
		overflow: clip;
	}
		.goodnight .profile li[data-gender="1"]::before{
			content: "\f222";
			color: #1e90ff;
			margin-right: .4em;
		}
		.goodnight .profile li[data-gender="2"]::before{
			content: "\f221";
			color: #ff1493;
			margin-right: .4em;
		}
		.goodnight .profile li[title]::after{
			content: attr(title);
		}
		.goodnight .profile [data-btn]{
			padding: .5em;
			background: #aaa;
			color: #fff;
			opacity: 0.9;
			border-radius: .8em;
			cursor: not-allowed;
			transition: all .2s linear;
		}
			.goodnight .profile [data-btn="active"]{
				background: rosybrown;
				cursor: pointer;
			}
			.goodnight .profile [data-btn]:hover{
				filter: brightness(1.1);
			}

	.goodnight .profile .profile_btns{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
	}
		.goodnight .profile .profile_btns li{
			margin: .8em .4em;
			padding: .8em;
		}


.goodnight .profile .avatar{
	display: block;
	width: 8em;
	height: 8em;
	margin: .6em auto;
	background-image: url(//cdn.jsdelivr.net/gh/heartyme/web.hearty.me@41214/img/logo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1.5px solid rosybrown;
	border-radius: 50%;
	opacity: .9;
	/* filter: saturate(1.1); */
	transition: all .2s linear;
	cursor: pointer;
}
	.goodnight .profile .avatar:hover{
		opacity: 1;
		filter: brightness(1.05);
	}


.directory{
	scroll-behavior: smooth;
	content-visibility: auto;
}
.directory header{
	position: sticky;
	display: block;
	top: 0;
	padding: 1em 0;
	color: #666;
	text-align: center;
	letter-spacing: 2px;
	z-index: 1;
	background: rgba(255,255,255,.3);
	background-image: linear-gradient(to bottom,rgba(255,255,255,1),rgba(255,255,255,0));
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	cursor: pointer;
	transition: all .2s ease-in;
}
	.directory header:hover{
		color: #000;
	}
.directory header h2{
	margin: 0 auto;
	margin-top: env(safe-area-inset-top, 0);
	text-shadow: 0 0 5px #fff;
}
.directory .nav_btn{
	position: sticky;
	display: inline-block;
	float: left; /* iOS Fix */
	bottom: .8em;
	margin: 0 1.4em;
	padding: 10px 16px;
	border: 1px solid #222;
	border-radius: 50%;
	background: rgba(255,255,255,.7);
	cursor: pointer;
}
	.directory .nav_btn::before{
		font-size: larger;
	}
	.directory .nav_btn[data-top]::before{
		content: "\f106";
	}
	.directory .nav_btn[data-left]::before{
		content: "\f104";
	}

.directory_inner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	height: auto;
	/* min-height: 100%; */
	margin: auto 1em;
}
	.directory_inner > div{
		position: relative;
		margin: .9em;

		width: auto;
		min-width: 22%;
		max-width: 22%;
		height: auto;
		min-height: 350px;

		border-radius: .75em;
		box-shadow: rgba(0,0,0,.1) 1px 1px 1em 1px;
		background: rgba(255,255,255,.8);
		line-height: 2;
		letter-spacing: 2px;
		cursor: pointer;

		background-size: 80%;
		background-image: url(//cdn.jsdelivr.net/gh/heartyme/web.hearty.me@41214/img/logo.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.directory_inner > div:hover{
		transform: translateY(-3px);
	}
	.directory_inner > div[data-active]{
		box-shadow: 1px 1px 6px 8px rgba(87,63,55,.3);
	}
	.directory_inner > div::before{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.55);
		transition: all .2s ease-in;
	}
		.directory_inner > div:hover::before{
			background: transparent;
		}
	.directory_inner > div[title]::after{
		display: block;
		content: attr(title);
		width: 100%;
		padding: 0 .3em;
		font-size: larger;

		text-overflow: ellipsis;
		overflow: hidden;
		overflow: clip;

		text-align: center;
		background: rgba(255,255,255,.6);
		border-top: 1px dashed rosybrown;
		border-bottom: 1px dashed rosybrown;
		transition: all .2s ease-in;
		z-index: 0;
	}
		.directory_inner > div[data-active]::after, 
		.directory_inner > div[title]:hover::after{
			color: #fff;
			background: rgba(188,143,143,.75);
		}

	/* 置頂 */
	.directory_inner > div[title]:first-child::after{
		content: "📌 " attr(title);
	}

@media screen and (max-width: 767px){
	.alice_inner, 
	.directory_inner{
		flex-flow: column wrap;
	}
	.alice_inner [data-quote][data-blur]{
		filter: blur(5px);
	}
	.alice_inner [data-opinions]{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(255,255,255,.1);
	}
	.alice_inner [data-opinions] ul, 
	.alice_inner [data-opinions][data-off]{
		display: none;
	}
	.alice_inner [data-opinions] > div{
		width: 80%;
		margin: 0 auto;
	}
	.goodnight .profile .profile_btns{
		font-size: small;
	}
	.directory_inner > div{
		min-width: 90%;
		max-width: 100%;
	}
}
